.CopyrightName {
  margin: 0px;
  background-color: rgba(51, 60, 66, 0.301);
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 570;
  font-size: 1.2em;
  color: #fff;
  a {
    color: #00ead3be;
  }
}
.footer-container {
  width: 100%;
  grid-column: 1 / span 14;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 4.2rem)) 1fr;
  grid-template-rows: max-content;
  gap: 2rem;
  margin: 4.5rem 0px 0px;
  padding: 2.5rem 0px;
  min-height: 14.75rem;
  background-color: rgba(51, 60, 66, 0.301);
  color: #ffff;
  // height: 600px;
  .footer-content {
    grid-column: 2 / span 10;
    display: flex;
    justify-content: space-around;
    .footer-section {
      display: flex;
      flex-direction: column;
      .phoneicon {
        height: 1.5rem;
        margin-top: 7px;
      }
      a {
        color: #fff;
        &:hover {
          background-image: linear-gradient(to right, #2b2e4a 0%, #53354a 100%);
          border-radius: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .footer-container {
    width: 103%;
  }
  .CopyrightName{
    width: 103%;
  }
}
